{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Введите новый пароль" %}{% endblock %}
{% block content %}
    {% if validlink %}
        <p>{% trans "Пожалуйста, введите новый пароль дважды, чтобы мы могли проверить, что Вы ввели его правильно." %}</p>
        <form action="" method="post">{% csrf_token %}
            {{ form.new_password1.errors }}
            <p class="aligned wide"><label
                    for="id_new_password1">{% trans 'Новый пароль:' %}</label>{{ form.new_password1 }}</p>
            {{ form.new_password2.errors }}
            <p class="aligned wide"><label
                    for="id_new_password2">{% trans 'Подтвердите новый пароль' %}</label>{{ form.new_password2 }}</p>
            <p><input type="submit" value="{% trans 'Изменение пароля' %}"/></p>
        </form>
    {% else %}
        <p>{% trans "Ссылка для сброса пароля является недействительной, возможно, потому что уже была использована.  Пожалуйста, запросите новый сброс пароля." %}</p>
    {% endif %}
{% endblock %}
