{% load i18n %}{% autoescape off %}
    {% blocktrans %}Вы получили это письмо, потому что запросили сброс пароля для личного кабинета на
        {{ site_name }}.{% endblocktrans %}
    {% trans "Пожалуйста, перейдите на эту страницу и введите новый пароль:" %}
    {% block reset_link %}
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    {% endblock %}
    {% trans "Ваше имя пользователя (на случай, если вы его забыли):" %} {{ user.get_username }}
    {% trans "Спасибо, что используете наш сайт!" %}
    {% blocktrans %}Команда {{ site_name }}{% endblocktrans %}
{% endautoescape %}
