{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}{% trans "Восстановление доступа" %}{% endblock %}
{% block content %}
    <p>{% blocktrans %}Забыли пароль? Введите Ваш логин или Email в поле ниже, и мы отправим Вам письмо с инструкциями
        для
        восстановления доступа.{% endblocktrans %}</p>
    <form action="" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% trans "Отправить" %}
            </button>
        {% endbuttons %}
    </form>
{% endblock %}
