{% extends 'default_set/base.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}
    {% trans "Настройки аккаунта" %}
{% endblock %}
{% block account_content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% trans "Отправить" %}
            </button>
        {% endbuttons %}
    </form>
    <form action="" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form pass_form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% trans "Отправить" %}
            </button>
        {% endbuttons %}
    </form>
{% endblock %}